body{
    background-color: #373A40;
}
h1{
    text-transform: uppercase;
    font-size: 50px;
    margin-left: 200px;
}
.poster{
    color: aqua;
    margin-left: 27%;
    margin-top: 100px;
    font-family: "Indie Flower", cursive;
}
.image{
    border: 5px solid whitesmoke;
}
h4{
    margin-left: 265px;
}